<table mat-table [dataSource]="schedule" class="mat-elevation-z8">
  <ng-container matColumnDef="periodIndex">
    <th mat-header-cell *matHeaderCellDef>Nro</th>
    <td mat-cell *matCellDef="let element">{{element.periodIndex}}</td>
  </ng-container>
  <ng-container matColumnDef="tep">
    <th mat-header-cell *matHeaderCellDef>TEP</th>
    <td mat-cell *matCellDef="let element">{{element.tep}}</td>
  </ng-container>
  <ng-container matColumnDef="gracePeriodType">
    <th mat-header-cell *matHeaderCellDef>Plazo de gracia</th>
    <td mat-cell *matCellDef="let element">{{element.gracePeriodType}}</td>
  </ng-container>
  <ng-container matColumnDef="openBalance">
    <th mat-header-cell *matHeaderCellDef>Saldo Inicial</th>
    <td mat-cell *matCellDef="let element">{{element.openBalance | currency:'USD':'symbol-narrow'}}</td>
  </ng-container>
  <ng-container matColumnDef="interest">
    <th mat-header-cell *matHeaderCellDef>Interés</th>
    <td mat-cell *matCellDef="let element">{{element.interest | currency:'USD':'symbol-narrow'}}</td>
  </ng-container>
  <ng-container matColumnDef="quote">
    <th mat-header-cell *matHeaderCellDef>Cuota</th>
    <td mat-cell *matCellDef="let element">{{element.quote | currency:'USD':'symbol-narrow'}}</td>
  </ng-container>
  <ng-container matColumnDef="amortization">
    <th mat-header-cell *matHeaderCellDef>Amortización</th>
    <td mat-cell *matCellDef="let element">{{element.amortization | currency:'USD':'symbol-narrow'}}</td>
  </ng-container>
  <ng-container matColumnDef="endBalance">
    <th mat-header-cell *matHeaderCellDef>Saldo Final</th>
    <td mat-cell *matCellDef="let element">{{element.endBalance | currency:'USD':'symbol-narrow'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
