<form [formGroup]="registerForm" (submit)="submitApplication()">
  <div class="form-group">
      <label for="nombre">Nombres</label>
      <input type="text" id="nombre" name="nombre" class="form-control" formControlName="firstName" required placeholder="Ej. Carlos" [ngClass]="{ 'input-error': registerForm.get('firstName')?.hasError('required') && registerForm.get('firstName')?.touched }">
      <div *ngIf="registerForm.get('firstName')?.hasError('required') && registerForm.get('firstName')?.touched" style="color: red">
        Campo obligatorio.
      </div>
  </div>
  <div class="form-group">
      <label for="apellido">Apellidos</label>
      <input type="text" id="apellido" name="apellido" class="form-control" formControlName="lastName" required placeholder="Ej. Reátegui Villanueva">
      <div *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.hasError('required')" style="color: red">
        Campo obligatorio.
      </div>
  </div>
  <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" class="form-control" formControlName="email" required placeholder="Ej. email@email.com">
      <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')" style="color: red">
        Campo obligatorio.
      </div>
      <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')" style="color: red">
        Email no es válido.
      </div>
      <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('emailRepetido')" style="color: red">
        El correo electrónico ya está en uso.
      </div>
  </div>
  <div class="form-group">
      <label for="fechaNacimiento">Fecha de nacimiento</label>
      <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="form-control" formControlName="dateOfBirth" required>
      <div *ngIf="registerForm.get('dateOfBirth')?.touched && registerForm.get('dateOfBirth')?.hasError('required')" style="color: red">
        Campo obligatorio.
      </div>
      <div *ngIf="registerForm.get('dateOfBirth')?.touched && registerForm.get('dateOfBirth')?.hasError('edadMinima')" style="color: red;">
        Debes ser mayor de 18 años.
      </div>
  </div>
  <div class="form-group">
      <label for="contrasena">Contraseña*</label>
      <input type="password" id="contrasena" name="contrasena" class="form-control" formControlName="password" required>
      <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')" style="color: red">
        Campo obligatorio.
      </div>
  </div>
  <div class="form-group">
      <button class="btn btn-success" type="submit">Registrarse</button>
  </div>
</form>
