<div>
  <app-header></app-header>
  <div class="page">
    <div class="menu-app">
      <app-menu></app-menu>
    </div>

  <div class="schedule__container">
    <h1>Cálculo del crédito vehícular</h1>


    <form [formGroup]="creditForm"  (ngSubmit)="onSubmit()"  >


      <!-- block2 tipo de moneda y costo del vehículo!-->
      <div class="coin__vehicle">
        <div class="coin">
          <h3>Tipo de moneda</h3>
          <div class="options">
            <mat-radio-group  formControlName="moneyType" >
              <mat-radio-button value="after">Soles</mat-radio-button>
              <mat-radio-button class="example-margin" value="before">Dolares</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="vehicle__cost">
          <div class="i-group">
            <h3>Costo del vehículo*</h3>
            <input
              type="number"
              matInput
              id="sellingPrice"
              name="sellingPrice"
              placeholder="Ex: 20000"
              [(ngModel)]="credit.sellingPrice"
              formControlName="sellingPrice"
              required
              min="1"
              pattern="[0-9]+"
              [ngClass]="{ 'input-error': creditForm.get('sellingPrice')?.invalid && creditForm.get('sellingPrice')?.touched }"
            >
            <div *ngIf="creditForm.get('sellingPrice')?.invalid && creditForm.get('sellingPrice')?.touched" class="error-message">
              Debe ingresar un valor mayor a 0.
            </div>
          </div>
        </div>
      </div>


      <!-- block3 tipo de moneda y costo del vehículo!-->
      <div class="initial__final__fee">
        <div class="i-group">
          <h3>Cuota inicial a pagar (%)*</h3>
          <input
            type="number"
            matInput
            id="initQuotePercent"
            name="initQuotePercent"
            placeholder="Ex: 20"
            [(ngModel)]="credit.initQuotePercent"
            formControlName="initQuotePercent"
            required
            min="1"
            pattern="[0-9]+"
            [ngClass]="{ 'input-error': creditForm.get('initQuotePercent')?.invalid && creditForm.get('initQuotePercent')?.touched }"
          >
          <div *ngIf="creditForm.get('initQuotePercent')?.invalid && creditForm.get('initQuotePercent')?.touched" class="error-message">
            Debe ingresar un valor mayor a 0.
          </div>
        </div>


        <div class="i-group">
          <h3>Cuota final a pagar (%)*</h3>
          <input
            type="number"
            matInput
            id="endQuotePercent"
            name="endQuotePercent"
            placeholder="Ex: 40"
            [(ngModel)]="credit.endQuotePercent"
            formControlName="endQuotePercent"
            required
            min="1"
            pattern="[0-9]+"
            [ngClass]="{ 'input-error': creditForm.get('endQuotePercent')?.invalid && creditForm.get('endQuotePercent')?.touched }"
          >
          <div *ngIf="creditForm.get('endQuotePercent')?.invalid && creditForm.get('endQuotePercent')?.touched" class="error-message">
            Debe ingresar un valor mayor a 0.
          </div>
        </div>

      </div>

      <!-- block4 tasas!-->
      <div class="coin__vehicle">
        <div class="coin">
          <h3>Tipo de tasa</h3>
          <div class="options">
            <mat-radio-group formControlName="rateType" [(ngModel)]="credit.rateType">
              <mat-radio-button value="NOMINAL">NOMINAL</mat-radio-button>
              <mat-radio-button class="example-margin" value="EFFECTIVE">EFECTIVA</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="i-group">
          <h3>Valor de la tasa (%)*</h3>
          <input
            type="number"
            matInput
            id="rate-value"
            name="rate-value"
            placeholder="Ex: 10"
            [(ngModel)]="credit.rateValue"
            formControlName="rateValue"
            required
            min="1"
            pattern="[0-9]+"
            [ngClass]="{ 'input-error': creditForm.get('rateValue')?.invalid && creditForm.get('rateValue')?.touched }"
          >
          <div *ngIf="creditForm.get('rateValue')?.invalid && creditForm.get('rateValue')?.touched" class="error-message">
            Debe ingresar un valor mayor a 0.
          </div>
        </div>
      </div>

      <!--frecuencia de pago!-->
      <div class="frequency__payment">
        <div class="i-group">
          <h3>Frecuencia de pago*</h3>
          <select class="i-group" name="tasa" id="tasa" formControlName="frequencyPayment" [(ngModel)]="credit.paymentFrecuency" >
            <option value="FORTNIGHTLY">QUINCENAL</option>
            <option value="MONTHLY">MENSUAL</option>
            <option value="QUARTERLY">TRIMESTRAL</option>
            <option value="SEMIANNUALLY">SEMESTRAL</option>
            <option value="ANNUALLY">ANUAL</option>
          </select>

        </div>

        <div class="i-group">
          <h3>Plazo de crédito en años*</h3>
          <select class="custom-select i-group" name="period-credit" id="period-credit" formControlName="numYears" [(ngModel)]="credit.numYears">
            <option value=2>2</option>
            <option value=3>3</option>
          </select>
        </div>

      </div>

      <!--plazo de gracia!-->
      <div class="grace__period">
        <div class="i-group">
          <h3>Plazo de gracia*</h3>
          <select name="grace" class="i-group" id="grace" formControlName="gracePeriod" [(ngModel)]="credit.gracePeriodType" >
            <option value="TOTALY">TOTAL</option>
            <option value="PARTIALLY">PARCIAL</option>
            <option value="NONE">NINGUNO</option>
          </select>
        </div>

        <div class="i-group">
          <h3>Periodo plazo de gracia*</h3>
          <input
            type="number"
            matInput
            id="period-grace"
            name="period-grace"
            placeholder="Ex: 2"
            [(ngModel)]="credit.numGracePeriods"
            formControlName="numGracePeriods"
            required
            min="0"
            pattern="[0-9]+"

          >

        </div>





      </div>

      <div class="button-custom">
        <button [disabled]="!creditForm.valid" mat-raised-button color="primary" class="btn btn-success" type="submit">CALCULAR</button>
      </div>
    </form>

  </div>

  </div>
</div>
<!--<div class="schedule__container">
  <h1 class="text">Calculo de crédito vehícular</h1>

  <div class="moneda">
    <div class="tipo">
      <h3>Tipo de moneda</h3>
      <div class="options">
        <mat-radio-group >
          <mat-radio-button value="after">Soles</mat-radio-button>
          <mat-radio-button class="example-margin" value="before">Dolares</mat-radio-button>
        </mat-radio-group>
      </div>

    </div>
    <div class="costo__vehiculo">
      <h3>Costo del vehículo</h3>
      <mat-form-field  appearance="outline" style="width: 500px" >
        <input matInput placeholder="Ej: 10,000">
      </mat-form-field>
    </div>
  </div>

  <div class="cuotas">
    <div class="costo__vehiculo">
      <h3>Cuota inicial a pagar (%)*</h3>
      <mat-form-field  appearance="outline" style="width: 400px" >
        <input matInput placeholder="Ej: 20,000">
      </mat-form-field>
    </div>
    <div class="costo__vehiculo2">
      <h3>Cuota final a pagar (%)*</h3>
      <mat-form-field  appearance="outline" style="width: 500px" >
        <input matInput placeholder="Ej: 40,000">
      </mat-form-field>
    </div>
  </div>

  <div class="tasa">
    <div class="tipo">
      <h3>Tipo de tasa</h3>
      <div class="options">
        <mat-radio-group >
          <mat-radio-button value="after">Tasa Nominal</mat-radio-button>
          <mat-radio-button class="example-margin" value="before">Tasa Efectiva</mat-radio-button>
        </mat-radio-group>
      </div>

    </div>
    <div class="costo__vehiculo">
      <h3>Valor de la tasa (%)*</h3>
      <mat-form-field  appearance="outline" style="width: 500px" >
        <input matInput placeholder="Ej: 20">
      </mat-form-field>
    </div>
  </div>

  <div class="frecuencia__pago">
    <div class="frecuencia">
    <h4>Frecuencia de pago</h4>
    <mat-form-field appearance="outline">
      <mat-select  name="food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div class="slider">
      <div class="title">
        <h3  class="example-name-label2">Tiempo a pagar</h3>
        <h3 class="example-value-label2">{{slider.value}}</h3>
      </div>
      <mat-slider
        class="example-margin"
        [disabled]="disabled"
        [max]="max"
        [min]="min"
        [step]="step"
        [discrete]="thumbLabel"
        [showTickMarks]="showTicks">
        <input matSliderThumb [(ngModel)]="value" #slider>
      </mat-slider>
    </div>
  </div>

  <div class="button-custom">
    <button class="button" mat-flat-button style="background-color: #151D3A !important; color: white;">CALCULAR</button>
  </div>





</div>
!-->
