.page {
  display: flex;
  border: 2px solid black;
  height: 100%;

}

.schedule__container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: auto;
  min-height: 100%;
  background-color: white;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 50px;
  row-gap: 20px;
}


/*BLOCK 1*/
h1 {
  color: #111233;
}

/*BLOCK 2*/
.coin__vehicle {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;
}

.coin {
  display: flex;
  flex-flow: column wrap;
}

.options {
  display: flex;
  flex-flow: row wrap;
}

.vehicle__cost {

}

.form-group input {
  border-radius: 0.4rem;
  border-width: 1px;
  height: 2rem;
  padding-left:16px ;
}


.initial__final__fee {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


.rate__type {
  display: flex;
  flex-flow: column wrap;
}

.frequency__payment {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group select {
  border-radius: 0.4rem;
  border-width: 1px;
  height: 2rem;
}

.grace__period {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;
}

.btn-success {
  background-color: #151d3a;
  border: 0;
  border-radius: 4px;
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

form  {
  display: flex;
  flex-flow: column wrap;

  align-content: center;
}


.button-custom {
  display: flex;
  justify-content: center;
}
