.page {
  display: flex;
  height: 100%;
}

.schedule__container {
  display: flex;
  justify-contents: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 100%;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  padding: 80px;
}

.schedule__container {
  /* Agrega estilos según sea necesario */
  margin: 20px;
}

.financial-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 40px;
}

.financial-data {
  display: flex;
  justify-content: space-between;
}
