
<div class="container">
  <div class="page">
    <div class="menu-app">
      <app-menu></app-menu>
    </div>
  </div>

  <div class="panel">
    <div class="account-container">
      <div class="panel">
        <img src="assets/logo-financiauto.jpg" alt="Logo de la cuenta" class="logo">

        <div class="user-info">
          <p>Nombres: {{userName}}</p>
          <p>Apellidos: {{lastName}}</p>
          <p>Email: {{email}}</p>
        </div>

        <h2>Actualizar Contraseña</h2>

        <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()" class="updatePasswordForm">
          <div class="form-group">
            <label for="new-password">Nueva Contraseña:</label>
            <input type="password" id="new-password" formControlName="newPassword" class="form-control">
            <div *ngIf="updatePasswordForm.get('newPassword')?.hasError('required') && updatePasswordForm.get('newPassword')?.touched" style="color: red">
              Este campo es obligatorio.
            </div>
          </div>

          <div class="form-group">
            <label for="confirm-password">Verificar Nueva Contraseña:</label>
            <input type="password" id="confirm-password" formControlName="confirmPassword" class="form-control">
            <div *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('required') && updatePasswordForm.get('confirmPassword')?.touched" style="color: red">
              Este campo es obligatorio.
            </div>
          </div>

          <button type="submit" class="custom-button" [disabled]="updatePasswordForm.invalid">ACTUALIZAR CONTRASEÑA</button>
        </form>
      </div>
    </div>
  </div>
</div>