  <div class="container">
    <div class="panel">
      <div class="account-container">
        <div class="panel">
          <img src="assets/logo-financiauto.jpg" alt="Logo de la cuenta" class="logo">
          
          <div class="user-info">
            <p>Nombres: [Nombres de Usuario]</p>
            <p>Apellidos: [Apellidos de Usuario]</p>
            <p>Email: [Email de Usuario]</p>
          </div>
          
          <h2>Actualizar Contraseña</h2>
          
          <div class="password-form">
            <label for="new-password">Nueva Contraseña:</label>
            <input type="password" id="new-password" name="new-password">
            
            <label for="confirm-password">Verificar Nueva Contraseña:</label>
            <input type="password" id="confirm-password" name="confirm-password">
            
            <button class="custom-button">ACTUALIZAR CONTRASEÑA</button>
          </div>
        </div>
      </div>
    </div>
  </div>