<div class="home-container">
    <div class="panel panel-a">
      <img src="assets/informacion.png" alt="Logo de interrogación" class="logo">
      <div class="text-block">
        <p class="title">¿Qué es?</p>
        <p>Es un crédito vehicular que permite comprar cualquier vehículo utilizando el formato de compra inteligente.</p>
        <button class="custom-button">IR AL CALCULO</button>
      </div>
    </div>
    <div class="panel panel-b">
        <div class="requirements-container">
          <h2>Requisitos</h2>
          <ul>
            <li><img src="/assets/iconos/icono-1.png" alt="Icono 1" class="icon"> Ser mayor de edad</li>
            <li><img src="/assets/iconos/icono-2.png" alt="Icono 2" class="icon"> Contar con una cuota inicial mínima del valor vehículo.</li>
            <li><img src="/assets/iconos/icono-3.png" alt="Icono 3" class="icon"> Tener buen comportamiento en el sistema financiero</li>
            <li><img src="/assets/iconos/icono-4.png" alt="Icono 4" class="icon"> No contar con rutas electorales</li>
          </ul>
        </div>
      </div>
  </div>
  
  
  